{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Log out</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>

<h1>To do list:</h1>
<a href="{% url 'create_task' %}">Create new task</a>

<table>
    <tr>
        <th>Elements</th>
        <th></th>
        <th></th>
    </tr>
    {%for task in tasks %}
    
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}"> More</a></td>
        <td><a href="{% url 'edit_task' task.id %}"> Edit</a></td>
        <td><a href="{% url 'delete_task' task.id %}"> Delete</a></td>
    </tr>

    {% empty %}
    <h3> no elements in the list</h3>

    {% endfor %}

    

</table>